.back-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    border-radius: 10rem;
    background-color: $bg-secundary-color;
    color: $text-secundary-color;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding: 1rem 2rem;
    font-weight: 600;
    @include shadow;

    &__icon {
        color: $text-main-color;
    }
}