.button {
    display: inline-block;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 18px 30px;
    border-radius: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    cursor: pointer;

    &--main {
        background-color: $text-secundary-color  !important;
        background: linear-gradient(60deg,
                $text-secundary-color 0%,
                #4fa8c4 100%) !important;
        color: #000;
    }

    &--ex-small {
        font-size: 1.1rem;
        padding: 10px 20px;
    }

    &--full {
        width: 100%;
        text-align: center;
        padding: 18px 0;
    }
}