<section>
	<div class="cards transacations-list">
		<ng-container *ngIf="transactions$ | async as transactions">
			<article class="card-coin" *ngFor="let transaction of transactions">
				<div class="card-coin__logo">
					<span> {{ transaction | transactionOrigin }} </span>
					<span class="card-coin__date">
						{{ transaction.createdAt | date }}
					</span>
				</div>
				<div>
					<span
						class="material-icons"
						[class.text-green]="isIncoming(transaction)"
						[class.text-red]="!isIncoming(transaction)"
					>
						{{
							isIncoming(transaction)
								? 'trending_up'
								: 'trending_down'
						}}
					</span>
				</div>
				<div
					[class.card-coin__price-plus]="isIncoming(transaction)"
					[class.card-coin__price-minus]="!isIncoming(transaction)"
				>
					<strong>{{ transaction.amount | currency }}</strong>
				</div>
			</article>
		</ng-container>
	</div>
</section>
