<div class="account-info">
	<div class="account-info__title">TOTAL BALANCE</div>
	<ng-container *ngIf="balance$ | async as balance">
		<div class="account-info__total">{{ balance.balance | currency }}</div>
		<div class="account-info__stats">
			<span class="account-info__stats--plus"
				>+{{ balance.incoming | currency }}</span
			>
			|
			<span class="account-info__stats--plus text-red"
				>-{{ balance.outcoming | currency }}</span
			>
		</div>
	</ng-container>
	<svg
		class="account-info__svg"
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 100 100"
		preserveAspectRatio="none"
	>
		<path d="M0,0 Q50,201 100,0 L100,100 0,100 Z" fill="#0f0638"></path>
	</svg>
</div>
<div class="account-buttons">
	<a class="account-buttons__button" routerLink="/transactions/add">
		<i class="material-icons account-buttons__icon">arrow_downward</i>
		<span>ADD</span>
	</a>
	<a class="account-buttons__button" routerLink="/transactions/give">
		<i class="material-icons account-buttons__icon">arrow_upward</i>
		<span>GIVE</span>
	</a>
</div>
