*,
::after,
::before {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
}
a {
	text-decoration: none;
	// &:visited {
	// 	color: $text-main-color;
	// }
}
input,
progress,
select,
textarea {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
[role='button']:focus,
[role='button']:not([aria-disabled='true']):hover,
button:enabled:hover,
button:focus,
input[type='button']:enabled:hover,
input[type='button']:focus,
input[type='reset']:enabled:hover,
input[type='reset']:focus,
input[type='submit']:enabled:hover,
input[type='submit']:focus,
label[type='button']:focus,
label[type='button']:hover {
	filter: brightness(1.4);
	cursor: pointer;
}
