@import 'abstracts/variables';
@import 'abstracts/mixins';

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	@include breakpoint(sm) {
		flex-direction: row;
	}
	text-align: center;
	padding: 2rem 0.5rem;
	&__title {
		flex-grow: 1;
		h1 {
			max-width: 1200px;
			margin: 1rem auto;
		}
		p {
			max-width: 40rem;
			margin: 1rem auto;
		}
	}
	&__logout {
		display: flex;
		align-items: center;
		margin: 1rem;
	}
}
