.splash {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.splash__content {
	width: 100%;
}
.splash__image {
	width: 100%;
	text-align: center;
}
.splash__image img {
	max-width: 50%;
	display: block;
	margin: auto;
}
.splash__text {
	width: 70%;
	text-align: center;
	color: #fff;
	margin: 0 auto 40px auto;
	line-height: 1.5;
}
.splash__buttons {
	width: 70%;
	margin: auto;
}
.splash__buttons .button {
	margin-bottom: 10px;
}
.splash__social-login {
	width: 100%;
	text-align: center;
}
.splash__social-login p {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.1rem;
	letter-spacing: 1px;
	opacity: 0.7;
}
.splash__social-login p a {
	color: #fff;
	opacity: 1;
}
.splash__social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}
.icon--social {
	width: 20px;
	height: 20px;
	margin: 0 10px;
}
.icon {
	display: block;
}
.icon--social img {
	display: block;
	max-width: 100%;
}
