<div class="main">
	<a
		class="back-button"
		routerLink="/"
		[state]="{ accessToken: accessToken }"
	>
		<i class="material-icons back-button__icon">arrow_back</i>
	</a>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<h2>Give cash</h2>
		<div class="container">
			<div class="form">
				<div class="form__row form__row--justify-evenly">
					<input
						formControlName="amount"
						type="number"
						min="0.1"
						step="any"
						class="form__input form__input--23"
						[ngClass]="{
							'is-invalid': submitted && f['amount'].errors
						}"
					/>
					<div class="form__coin-icon">
						<i class="material-icons">monetization_on</i>
					</div>
					<ng-container *ngIf="submitted && f['amount'].errors">
						<p *ngIf="f['amount'].errors['required']">
							Amount is required
						</p>
					</ng-container>
				</div>
				<!-- <form id="form" method="post" action="checkout.html">
				<div class="form__row form__row--justify-evenly">
					<input
						type="text"
						name="Text"
						value=""
						class="form__input form__input--23"
						placeholder="0.05"
					/>
					<div class="form__coin-icon">
						<i class="material-icons">monetization_on</i>
					</div>
					<div class="form__select">
						<select name="selectoptions" class="required">
							<option value="" disabled="" selected="">
								USD (Dolar)
							</option>
							<option value="1">COP (Peso Colombiano)</option>
							<option value="2">MXN (Peso Mexicano)</option>
						</select>
					</div>
				</div>
				<div class="form__row form__row--justify-evenly"></div>
				<div
					class="form__row form__row--justify-center form__coin-total"
				>
					$ 2,465 USD
				</div>
			</form> -->
			</div>
		</div>
		<!-- <h2>Select wallet</h2>
	<div class="container">
		<div class="radio-option radio-option--full">
			<input
				type="radio"
				name="wallet"
				id="w3"
				value="usd"
				checked=""
			/><label for="w3"> USD </label>
		</div>
		<div class="radio-option radio-option--full">
			<input type="radio" name="wallet" id="w1" value="cop" />
			<label for="w1"> COP </label>
		</div>
		<div class="radio-option radio-option--full">
			<input type="radio" name="wallet" id="w2" value="mxn" />
			<label for="w2"> MXN </label>
		</div>
	</div> -->
		<h2>Destinatary</h2>
		<div class="container">
			<div class="form">
				<!-- <form id="form2" method="post" action="checkout.html"> -->
				<div class="form__select">
					<select
						formControlName="reciver"
						[ngClass]="{
							'is-invalid': submitted && f['reciver'].errors
						}"
					>
						<option value="">Select user</option>
						<option
							*ngFor="let user of $users | async"
							[ngValue]="user"
						>
							{{ user.email }}
						</option>
					</select>
				</div>
				<!-- <div class="form__row form__row--justify-evenly">
					<div class="form__coin-icon">
						<i class="material-icons">account_box</i>
					</div>
					<input
						type="text"
						name="CName"
						value=""
						class="form__input required"
						placeholder="Account Owner"
					/>
				</div>
				<div class="form__row form__row--justify-evenly">
					<div class="form__coin-icon">
						<i class="material-icons">credit_card</i>
					</div>
					<input
						type="text"
						name="CNumber"
						value=""
						class="form__input required"
						placeholder="Account Number"
					/>
				</div> -->
				<!-- <div
					class="form__row form__row--justify-center form__coin-total"
				>
					$ 2,465 USD
				</div> -->
				<!-- </form> -->
			</div>
		</div>
		<button
			type="submit"
			class="button button--full button--main open-popup"
		>
			GIVE CASH
		</button>
	</form>
</div>
