<div class="main">
	<a class="back-button" routerLink="/">
		<i class="material-icons back-button__icon">arrow_back</i>
	</a>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<h2>Give cash (Amount)</h2>
		<div class="container">
			<div class="form">
				<div class="form__row form__row--flex-start">
					<input
						formControlName="amount"
						type="number"
						min="0.1"
						step="any"
						class="form__input form__input--23"
						[ngClass]="{
							'is-invalid': submitted && f['amount'].errors
						}"
					/>
					<div class="form__coin-icon">
						<i class="material-icons">monetization_on</i>
					</div>
				</div>
				<ng-container *ngIf="submitted && f['amount'].errors">
					<div
						*ngIf="f['amount'].errors['required']"
						class="text-red"
					>
						Amount is required.
					</div>
				</ng-container>
				<ng-container *ngIf="submitted && f['amount'].errors">
					<div
						*ngIf="f['amount'].errors['min']"
						class="text-red"
					>
						The amount must be greater than 0.1.
					</div>
				</ng-container>
				<div *ngIf="errorMessage" class="text-red">
					{{ errorMessage }}
				</div>
			</div>
		</div>
		<h2>Destinatary</h2>
		<div class="container">
			<div class="form">
				<div class="form__select">
					<select
						formControlName="reciver"
						[ngClass]="{
							'is-invalid': submitted && f['reciver'].errors
						}"
					>
						<option value="">Select user</option>
						<option
							*ngFor="let user of $users | async"
							[ngValue]="user"
						>
							{{ user.email }}
						</option>
					</select>
				</div>
				<ng-container *ngIf="submitted && f['reciver'].errors">
					<div
						*ngIf="f['reciver'].errors['required']"
						class="text-red"
					>
						Destinatary is required.
					</div>
				</ng-container>
			</div>
		</div>
		<button
			type="submit"
			class="button button--full button--main open-popup"
		>
			GIVE CASH
		</button>
	</form>
</div>
