<!DOCTYPE html>
<a class="back-button" href="#/">
	<i class="material-icons back-button__icon">arrow_back</i>
</a>
<main class="error-container">
	<div class="background">
		<div class="background__wave background__wave--first"></div>
		<div class="background__wave background__wave--second"></div>
		<div class="background__wave background__wave--third"></div>
	</div>
	<div class="error-container__caption">
		<img
			id="error-img"
			src="error.png"
			class="error-container__img"
			alt="error-img"
		/>
		<h1 class="error-container__text">
			Página no encontrada.
			<a href="#/">
				<i class="material-icons back-button__icon">home</i>
				Regresa al inicio
				<i class="material-icons back-button__icon">home</i>
			</a>
		</h1>
	</div>
</main>
