<!DOCTYPE html>
<div class="splash">
	<div class="splash__content">
		<div class="splash__image">
			<img
				src="https://www.sindevo.com/cryptex/cryptex/images/splash.png"
				alt=""
				title=""
			/>
		</div>
		<div class="splash__text">
			Cryptex is your favourite Crypto Exchange Wallet
		</div>
		<div class="splash__buttons">
			<a href="signup.html" class="button button--full button--main"
			>Signup</a
			>
		</div>
		<div class="splash__social-login">
			<p>
				<a href="login.html">Allready Registered Login here</a>
			</p>
			<div class="splash__social-icons">
				<a href="#" class="icon icon--social"
				><img
						src="https://www.sindevo.com/cryptex/cryptex/images/icons/facebook.svg"
						alt=""
						title=""
				/></a>
				<a href="#" class="icon icon--social"
				><img
						src="https://www.sindevo.com/cryptex/cryptex/images/icons/twitter.svg"
						alt=""
						title=""
				/></a>
				<a href="#" class="icon icon--social"
				><img
						src="https://www.sindevo.com/cryptex/cryptex/images/icons/instagram.svg"
						alt=""
						title=""
				/></a>
			</div>
		</div>
	</div>
</div>
