<div class="login">
	<div class="login__content container">
		<h2 class="login__title">Login</h2>
		<div class="login-form">
			<form id="login-form" [formGroup]="form" (ngSubmit)="login()">
				<div class="login-form__row">
					<label
						class="login-form__label"
						[ngClass]="{
							'login-form__error': submitted && f['email'].errors
						}"
						>Username</label
					>
					<input
						formControlName="email"
						type="text"
						autocomplete="username"
						value=""
						class="login-form__input required"
						[ngClass]="{
							'is-invalid': submitted && f['email'].errors
						}"
					/>
				</div>
				<ng-container *ngIf="submitted && f['email'].errors">
					<div
						*ngIf="f['email'].errors['required']"
						class="login-form__error"
					>
						Email is required.
					</div>
					<div
						*ngIf="f['email'].errors['email']"
						class="login-form__error"
					>
						Email is invalid.
					</div>
				</ng-container>
				<div class="login-form__row">
					<label
						class="login-form__label"
						[ngClass]="{
							'login-form__error':
								submitted && f['password'].errors
						}"
						>Password</label
					>
					<input
						formControlName="password"
						type="password"
						autocomplete="current-password"
						value=""
						class="login-form__input required"
						[ngClass]="{
							'is-invalid': submitted && f['password'].errors
						}"
					/>
				</div>
				<ng-container *ngIf="submitted && f['password'].errors">
					<div
						*ngIf="f['password'].errors['required']"
						class="login-form__error"
					>
						Password is required.
					</div>
				</ng-container>
				<div class="login-form__forgot-pass">
					<a href="forgot-password.html">Forgot Password?</a>
				</div>
				<div *ngIf="error" class="login-form__error">
					<p>ERROR: {{ error }}</p>
				</div>
				<div class="login-form__row">
					<input
						type="submit"
						name="submit"
						class="login-form__submit button button--main button--full"
						id="submit"
						value="SIGN IN"
					/>
				</div>
			</form>
			<div class="login-form__bottom">
				<p>
					Don't have an account? <br />
					<a [routerLink]="['/registration']">SIGN UP HERE!</a>
				</p>
			</div>
		</div>
	</div>
</div>
