.login {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	&__content {
		width: calc(100% - 80px);
		margin: auto;
	}
	&__title {
		width: 100%;
		text-align: left;
		color: #ffffff;
		font-weight: 600;
		font-size: 1.6rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 40px;
		padding: 0px;
	}
	&-form {
		width: 100%;
		margin: auto;
		&__row {
			width: 100%;
			margin-bottom: 10px;
		}
		&__label {
			width: 100%;
			display: block;
			padding-bottom: 10px;
			color: #fff;
			text-transform: uppercase;
			font-size: 1rem;
			letter-spacing: 1px;
			font-weight: 600;
		}
		&__input {
			width: calc(100% - 20px);
			border: none;
			background-color: transparent;
			padding: 10px 10px;
			border-radius: 0px;
			border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
			color: #fff;
			&.is-invalid {
				border-color: red;
			}
		}
		&__forgot-pass {
			width: 100%;
			text-align: right;
		}
		&__error {
			width: 100%;
			color: red;
			margin-bottom: 1rem;
		}
		&__bottom {
			width: 100%;
			text-align: center;
			margin-top: 20px;
			p {
				color: #fff;
				padding-bottom: 10px;
				a {
					color: #47e7ce;
					font-weight: 600;
					font-size: 1.2rem;
				}
			}
		}
		&__submit {
			margin-top: 20px;
			box-shadow: none;
			-webkit-box-shadow: none;
			-webkit-appearance: none;
			appearance: none;
		}
	}
}
