<section>
	<div class="cards transacations-list">
		<article class="card-coin">
			<div class="card-coin__logo">
				<span> one@example.com </span>
				<span class="card-coin__date"> 07/09/2022 </span>
			</div>
			<div>
				<span class="material-icons text-green"> trending_up </span>
			</div>
			<div class="card-coin__price-plus">
				<strong>$100.00</strong>
			</div>
		</article>
		<article class="card-coin">
			<div class="card-coin__logo">
				<span> two@example.com </span>
				<span class="card-coin__date"> 07/09/2022 </span>
			</div>
			<div>
				<span class="material-icons text-red"> trending_down </span>
			</div>
			<div class="card-coin__price-minus">
				<strong>-$200.00</strong>
			</div>
		</article>
	</div>
</section>
