<!DOCTYPE html>
<div class="registration">
	<div class="registration__content">
		<h2 class="registration__title">Registration</h2>
		<div class="registration-form">
			<form
				id="registration-form"
				[formGroup]="form"
				(ngSubmit)="registrate()"
			>
				<div class="registration-form__row">
					<label
						class="registration-form__label"
						[ngClass]="{
							'registration-form__error':
								submitted && f['email'].errors
						}"
						>Username</label
					>
					<input
						formControlName="email"
						type="text"
						autocomplete="username"
						value=""
						class="registration-form__input required"
						[ngClass]="{
							'is-invalid': submitted && f['email'].errors
						}"
					/>
				</div>
				<ng-container *ngIf="submitted && f['email'].errors">
					<div
						*ngIf="f['email'].errors['required']"
						class="registration-form__error"
					>
						Email is required.
					</div>
					<div
						*ngIf="f['email'].errors['email']"
						class="registration-form__error"
					>
						Email is invalid.
					</div>
				</ng-container>
				<div class="registration-form__row">
					<label
						class="registration-form__label"
						[ngClass]="{
							'registration-form__error':
								(submitted && f['password'].errors) ||
								(submitted && form.errors)
						}"
						>Password</label
					>
					<input
						formControlName="password"
						type="password"
						autocomplete="new-password"
						value=""
						class="registration-form__input required"
						[ngClass]="{
							'is-invalid': submitted && f['password'].errors
						}"
					/>
				</div>
				<ng-container *ngIf="submitted && f['password'].errors">
					<div
						*ngIf="f['password'].errors['required']"
						class="registration-form__error"
					>
						Password is required.
					</div>
				</ng-container>
				<div class="registration-form__row">
					<label
						class="registration-form__label"
						[ngClass]="{
							'registration-form__error':
								(submitted && f['passwordConfirm'].errors) ||
								(submitted && form.errors)
						}"
						>Confirm password</label
					>
					<input
						formControlName="passwordConfirm"
						type="password"
						autocomplete="new-password"
						value=""
						class="registration-form__input required"
						[ngClass]="{
							'is-invalid':
								submitted && f['passwordConfirm'].errors
						}"
					/>
				</div>
				<ng-container *ngIf="submitted && f['passwordConfirm'].errors">
					<div
						*ngIf="f['passwordConfirm'].errors['required']"
						class="registration-form__error"
					>
						Password confirmation is required.
					</div>
					<div
						*ngIf="
							f['passwordConfirm'].errors[
								'invalidPasswordConfirmation'
							]
						"
						class="registration-form__error"
					>
						Passwords don't match.
					</div>
				</ng-container>
				<ng-container *ngIf="submitted && form.errors">
					<div
						*ngIf="form.errors['invalidPasswordConfirmation']"
						class="registration-form__error"
					>
						Passwords don't match.
					</div>
				</ng-container>
				<div class="registration-form__row">
					<input
						type="submit"
						name="submit"
						class="registration-form__submit button button--main button--full"
						id="submit"
						value="SIGN UP"
					/>
				</div>
			</form>

			<div class="registration-form__bottom">
				<p>
					Already have an account? <br />
					<a [routerLink]="['/login']">SIGN IN HERE!</a>
				</p>
			</div>
		</div>
	</div>
</div>
