<!DOCTYPE html>
<div class="registration">
	<div class="registration__content">
		<h2 class="registration__title">Registration</h2>
		<div class="registration-form">
			<form
				id="registration-form"
				[formGroup]="form"
				(ngSubmit)="registrate()"
			>
				<!-- <div class="registration-form__row">
					<label class="registration-form__label">Full name</label>
					<input
						type="text"
						name="fullname"
						value=""
						class="registration-form__input required"
					/>
				</div> -->
				<div class="registration-form__row">
					<label class="registration-form__label">Username</label>
					<input
						formControlName="email"
						type="text"
						value=""
						class="registration-form__input required"
						[ngClass]="{
							'is-invalid': submitted && f['email'].errors
						}"
					/>
				</div>
				<ng-container *ngIf="submitted && f['email'].errors">
					<div
						*ngIf="f['email'].errors['required']"
						class="registration-form__error"
					>
						Email is required.
					</div>
					<div
						*ngIf="f['email'].errors['email']"
						class="registration-form__error"
					>
						Email is invalid.
					</div>
				</ng-container>
				<!-- <div class="registration-form__row">
					<label class="registration-form__label">Email</label>
					<input
						type="email"
						name="email"
						value=""
						class="registration-form__input required"
					/>
				</div> -->
				<div class="registration-form__row">
					<label class="registration-form__label">Password</label>
					<input
						formControlName="password"
						type="password"
						value=""
						class="registration-form__input required"
						[ngClass]="{
							'is-invalid': submitted && f['password'].errors
						}"
					/>
				</div>
				<ng-container *ngIf="submitted && f['password'].errors">
					<div
						*ngIf="f['password'].errors['required']"
						class="registration-form__error"
					>
						Password is required.
					</div>
				</ng-container>
				<div class="registration-form__row">
					<label class="registration-form__label"
						>Confirm password</label
					>
					<input
						formControlName="passwordConfirm"
						type="password"
						value=""
						class="registration-form__input required"
						[ngClass]="{
							'is-invalid':
								submitted && f['passwordConfirm'].errors
						}"
					/>
				</div>
				<ng-container *ngIf="submitted && f['passwordConfirm'].errors">
					<div
						*ngIf="f['passwordConfirm'].errors['required']"
						class="registration-form__error"
					>
						Password confirmation is required.
					</div>
				</ng-container>
				<div class="registration-form__row">
					<input
						type="submit"
						name="submit"
						class="registration-form__submit button button--main button--full"
						id="submit"
						value="SIGN UP"
					/>
				</div>
			</form>

			<div class="registration-form__bottom">
				<p>
					Already have an account? <br />
					<a [routerLink]="['/login']">SIGN IN HERE!</a>
				</p>
			</div>
		</div>
	</div>
</div>
