@import './abstracts/_variables.scss';

@import './base/_base.scss';
@import './base/_typography.scss';

@import './components/_button.scss';

@import './layout/_footer.scss';
@import './layout/_navbar.scss';

@import './pages/_demo.scss';
@import './pages/_home.scss';
@import './pages/_not-found.scss';
@import './pages/_wallet.scss';

@import url('./vendors/_simple-css.scss');

.transaction-item {
    display: flex;
    justify-content: space-between;
}

.transaction-item__account {
    font-size: 1.15rem;
    font-weight: normal;
}

.transaction-item__amount--incoming {
    color: green;
}

.transaction-item__amount--outcoming {
    color: red;
}