.page__title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    max-width: 600px;
    margin: auto;
    width: calc(100% - 30px);

    & p {
        font-size: 1.4rem;
        padding: 0px;
    }

    &-right {
        position: relative;
        display: flex;
        align-items: center;
    }
}